body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
}
.container {
    margin-top: 50px;
}
h1 {
    font-size: 3em;
}
p {
    font-size: 1.5em;
}
